---
---

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="author" content="Vijay Krishna Palepu" />
  <link rel="shortcut icon" href="{{ site.url }}/images/favicon.gif" />
  <title>{{ page.title }}</title>
  
  <!-- <link rel="stylesheet" href="{{ site.url }}/css/bootstrap.min.css" type="text/css" /> -->
  <!-- <link rel="stylesheet" href="{{ site.url }}/css/bootstrap-theme.min.css" type="text/css" /> -->
  <link rel="stylesheet" href="{{ site.url }}/css/screen.css" type="text/css" />
  <!-- syntax highlighting CSS -->
  <link rel="stylesheet" href="{{ site.url }}/css/syntax.css" type="text/css" />
  <link href='http://fonts.googleapis.com/css?family=Andada' rel='stylesheet' type='text/css'>
  <!-- <link rel="stylesheet" href="{{ site.url }}/css/pygments.css" type="text/css" > -->
</head>
<body>
  <div class="container">

    {% include header-content.html post=page %}

    <script src="{{ site.url }}/css/css-support.js"></script>

    {{ content }}

  </div>
  </div> <!-- end of main -->
  <!-- <div class="header"></div> -->
</body>
</html>
